<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="/">
</head>
<body>
	<h1>Products</h1><br>
	<table border="1" cellpadding="5">
		<thead>
			<tr>
				<th>Code</th>
				<th>Description</th>
				<th>Price</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="product:${products}">
				<td th:text="${product.productCode}"></td>
				<td th:text="${product.productDescription}">Description</td>
				<td th:text="${product.productPrice}">Price</td>
				<td>
					<a th:href="@{'products/edit/' + ${product.productCode}}">Edit</a>
					<a th:href="@{'products/confirmDelete/' + ${product.productCode}}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table><br>
	<a th:href="@{products/create}">Add Products</a>
</body>
</html>